/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

.app-panels > * {
    width: 320px;
    box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
	background-image:url('../assets/bg.png');
	/**/
	color: white;
}

.app-toolbars {
    min-height: 66px;
}

.app-button {
	min-height: 45px;
	padding: 6px;
}

.app-button-caption {
	padding-left: 7px;
	padding-right: 6px;
}

.app-heading {
    font-size: 30px;
    /* font-weight: bold; */
    /* padding: 10px; */
}

.app-listitem {
	border-bottom: 1px solid #0E0E0E;
	padding: 12px 10px;
	background-color: #333333;
	/**/
	font-size: 16px;
	color: white;
}



